node_modules/
.env
*.log
npm-debug.log*
.next/
.vercel
out/
/build

# frontend specific
frontend/node_modules
frontend/.next
frontend/.vercel
frontend/out
bun.lock
frontend/bun.lock

# backend specific
backend/node_modules

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.vercel
.env*
